@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: transparent;
}

:root {
    --cashmere: #CBC5C1;
    --french-blue: #A2AAB0;
    --white-wash: #EBECED;
    --denim: #4C586F;
    --gunmetal: #3E3E3B; 
}

body {
    display: flex;
    background-color: var(--cashmere);
    font-family: 'Cinzel', serif;
}

button {
    cursor: pointer;
}

/*Left side of screen*/

.left-pane {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 30vw;
    background-color: var(--denim);
    position: fixed;
}

form {
    margin-top: 20px;
    width: 75%;
    font-size: 20px;
}

fieldset {
    display: flex;
    flex-direction: column;
    color: var(--white-wash);
    padding: 10px;
}

legend {
    font-size: 25px;
}

fieldset > div {
    margin: 0 20px;
    padding: 8px;
}

.pages {
    display: flex;
    flex-direction: column;
}

input[type=text] {
    width: 100%;
    color: var(--white-wash);
    font-size: large;
    padding: 5px;
    border: solid 2px transparent;
    background-color: #52607c;
}

input[type=number] {
    width: 75px;
    color: var(--white-wash);
    font-size: large;
    padding: 5px;
    border: solid 2px transparent;
    background-color: #52607c;
}

input[type=text]:focus, input[type=number]:focus {
    border-bottom: solid 2px var(--french-blue);
}

input[type=checkbox] {
    height: 17px;
    width: 17px;
}

.addBtn {
    width: 100%;
    height: 30px;
    background-color: var(--white-wash);
    color: var(--gunmetal);
    font-weight: bold;
    border: none;
}

.addBtn:hover {
   background-color: var(--cashmere);
}

.addBtn:active {
    transform: translateY(3px);
}

.catalog {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    row-gap: 10px;
    width: 17vw;
    align-self: center;
}

.cell-border-white {
    border-bottom: solid 1px var(--white-wash);
}

.favorite {
    margin-top: 20px;
    text-align: center;
}

.favorite > label::before, .favorite > label::after {
    content: '~';
    padding: 0 8px;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    color: white;
    font-weight: bold;
    width: 100%;
    height: 60px;
}

footer p, footer a {
    padding-right: 20px;
}

/*Right side of screen*/

.right-pane {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 70vw;
    margin-left: 30vw;
}

h1 {
    font-size: 75px;
    color: var(--gunmetal);
    position: absolute;
    top: 25px;
}

.inventory {
    display: grid;
    grid-template-columns: 18vw 15vw 1fr 1fr 110px;
    grid-template-rows: auto;
    row-gap: 15px;
    width: 55vw;
    position: absolute;
    top: 200px;
    text-align: left;
    font-size: 20px;
    color: var(--gunmetal);
}

.text-only {
    background: none;
    border: none;
    font-family: 'Cinzel', serif;
    font-size: 20px;
    color: var(--gunmetal);
}

.cell-border-denim {
    border-bottom: solid 1px var(--denim);
}

.not-read {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: none;
    background-color: firebrick;
    justify-self: center;
    align-self: center;
}

.have-read {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: none;
    background-color: rgb(70, 150, 20);
    justify-self:center;
    align-self: center;
}

.center {
    text-align: center;
}

.pages-grid {
    display: flex;
    justify-content: center;
}